@import "tailwindcss";

body{
  width:100%;
  height: 100%;
  position: relative;

}

.canvas{
  width:100%;
  height: 100vh;
  position: fixed;
  top:0%;
  left:0%;
  padding-left: 20px;
  padding-right: 20px;
  /* background-color: brown; */
}